<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="alglib.net" version="3.18.2" targetFramework="net46" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net46" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net46" />
  <package id="EntityFramework.SqlServerCompact" version="6.4.4" targetFramework="net46" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net46" />
  <package id="itextsharp.xtra" version="5.5.13.3" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net46" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net40-Client" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40-Client" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net46" />
</packages>